<ul>
<% @projects.each do |project| %>
	<li><%= link_to project.name, project_path(project) %>

		<% if project.description == nil %>
		<p>No Description</p>
		<% else %>
		<p><%= project.description %></p>
		<% end%>
	</li>
	<% end %>
</ul>

<%= link_to "create new project", projects_new_path %>