<ul>
<% @projects.each do |project| %>
	<li><%= link_to project.name, project_path(project) %>

		<% if project.description == nil %>
		<p>No Description</p>
		<% else %>
		<p><%= project.description %></p>
		<% end%>

		<%= link_to("See time_entries", project_time_entries_path(project)) %>
	</li>
	<% end %>
</ul>

<%= link_to "create new project", new_project_path %>