<!-- <h1> Welcome to Xaan Calculator</h1>
<li>
<a href="/add"> Addition</a>
</li>
<li>
	<a href="/divide">Division</a>
	</li>
	<li>
	<a href="/multiply">Multiplication</a>
	</li>
	<li>
	<a href="/subtract">Subtraction</a>
	</li>
</li>
 -->
 <html>
	<head>
		<title>Jay's Calculator</title>
	</head>
	<body>
	<h1>Add</h1>
	<form action="/calculate" method="POST">
	<label for="number1">Calculate Numbers</label>
	<input type="number" id="number1" name="numberone" placeholder="Enter 1st number"> and
	<input type = "number" name="numbertwo" placeholder="Enter 2nd number">
	<li><button type="submit" name="operation" value="add">ADD</button></li>
	<li><button type="submit" name="operation" value="subtract">SUBTRACT</button></li>
	<li><button type="submit" name="operation" value="divide">DIVIDE</button></li>
	<li><button type="submit" name="operation" value="multiply">MULTIPLY</button></li>
	</form>
	</body>
</html>