<h1>Homepage</h1>
<h2>Wsup chigga</h2>
<a href="https://en.wikipedia.org/wiki/Hillary_Clinton" target="_blank"><img src="http://i.imgur.com/wFovN4O.gif" alt = "Hillary goin kray"  style="width:260px;height:260px;"></a>
<% if @drank != nil%>
<p>
Your selected beverage is:
<strong><%= @drank%></strong>
</p>
<%end%>
<ul>
	<li>
		<a href="/" class="myButton"> Home</a>
	</li>
	<li>
		<a href="/hi" target="_blank" class="myButton"> HelloWorld</a>
	</li>
	<li>
		<a href="/about" target="_blank" class="myButton">About</a>
	</li>
	<li>
		<a href="/best_pizza" class="myButton">Favorite pizza</a>
	</li>
	<li>
		<a href="/log"> Login</a>
	</li>

</ul>