
<ul>
<%    @final = @contacts.sort { |a,b| a.name.downcase <=> b.name.downcase } %>
<% @final.each do |contact| %>
	<li><%= contact.name %>
		<% if contact.phone == nil %>
		<p>No phone number</p>
		<% else %>
		<p><%= contact.phone %></p>
		<% end%>
	</li>
	<%= link_to("See full details", contact_path(contact)) %>
	<% end %>
</ul>