<html>
<p>
<b><a href="/new_task" target="_blank">Add new task</a></b>
</p>
<p>
<% @instance.each do |x|%>
<%= x.content %> <form action="/complete" method="POST"><button type="submit" name="task_id" value="<%= x.id %>">
Complete</button></form><br>
<% end%>
</p>
</html>
