<html>
<p>
<b><a href="/new_task" target="_blank">Add new task</a></b>
</p>
<p>
<% @instance.each do |x|%>
<% if x.completed? == true %>
<%= "> [X] #{x.content}" %> 
<%else%>
<%= "> #{x.content}" %>
<%end%><form action="/complete" method="POST">
<% if x.completed? == false%>
<button type="submit" name="task_id" value="<%= x.id %>">
Complete</button></form><br>
<% else %>
<button type="submit" name="task_id" value="<%= x.id %>">
Not Complete</button></form><br>
<% end %>
<%end%>
</p>
</html>
