<h2>Results</h2>
<div>
	<p>Original text</p>
	<%= @text %>
	<p>Words counted <%= @word_count %></p>
	<p><%= @wordspermin %> seconds required for an average person to read</p>
	<p><%= @finalfinal %></p>
</div>