<h1>Word Central</h1>

<p>Your destination for text utilities.</p>
<%= link_to "Inspect", "/text_inspections/new" %></br>
<%= link_to "ASciify", "/asciis/new" %>
<%= link_to "Lorem Ipsum", "/lipsum" %>